---
- name: Install development tools via Homebrew
  community.general.homebrew:
    name:
      - git
      - wget
      - neovim
      - zoxide
      - fzf
    state: present

- name: Install nvm via Homebrew
  community.general.homebrew:
    name: nvm
    state: present

- name: Install Zsh plugins via Homebrew
  community.general.homebrew:
    name:
      - zsh-autosuggestions
      - zsh-syntax-highlighting
    state: present

- name: Create NVM directory
  ansible.builtin.file:
    path: "{{ ansible_facts.env.HOME }}/.nvm"
    state: directory
    mode: '0755'
