---
- name: Install development tools via Homebrew
  community.general.homebrew:
    name:
      - git
      - wget
      - neovim
      - zoxide
      - fzf
    state: present

- name: Install nvm via Homebrew
  community.general.homebrew:
    name: nvm
    state: present

- name: Install Zsh plugins
  ansible.builtin.git:
    repo: "{{ item.repo }}"
    dest: "{{ lookup('env', 'ZSH_CUSTOM') or (ansible_facts.env.HOME + '/.oh-my-zsh/custom') }}/plugins/{{ item.name }}"
    update: yes
    force: yes
  loop:
    - { repo: 'https://github.com/zsh-users/zsh-autosuggestions', name: 'zsh-autosuggestions' }
    - { repo: 'https://github.com/zsh-users/zsh-syntax-highlighting.git', name: 'zsh-syntax-highlighting' }

- name: Create NVM directory
  ansible.builtin.file:
    path: "{{ ansible_facts.env.HOME }}/.nvm"
    state: directory
    mode: '0755'
