---
- name: Install Powerlevel10k
  ansible.builtin.git:
    repo: https://github.com/romkatv/powerlevel10k.git
    dest: "{{ lookup('env', 'ZSH_CUSTOM') or (ansible_facts.env.HOME + '/.oh-my-zsh/custom') }}/themes/powerlevel10k"
    depth: 1
    update: yes
    force: yes

- name: Check if Oh My Zsh is installed
  ansible.builtin.stat:
    path: "{{ ansible_facts.env.HOME }}/.oh-my-zsh"
  register: oh_my_zsh

- name: Install Oh My Zsh
  ansible.builtin.shell: |
    RUNZSH=no CHSH=no sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
  when: not oh_my_zsh.stat.exists
  args:
    creates: "{{ ansible_facts.env.HOME }}/.oh-my-zsh"
